#maplespace_wordpress_plugin-page
{
    text-align: center !important;
    margin: 0 auto;
}

.maplespace_wordpress_plugin-settings-page-section
{
    position: relative;
    border: 1px inset #6a6a6a;
    background-color: #fafaff;
    box-shadow: 0 2px 0 #ff3300;
    border-radius: 7px;
    text-align:center;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    overflow-x: hidden;
    overflow-y: auto;
    min-width: 330px;
    max-width: 330px;
    box-sizing: border-box;
    float: left;
    margin: 15px 15px 15px auto;
    padding: 15px 10px 15px 10px;
    max-height:250px !important;
    min-height:250px !important;
}

.maplespace_wordpress_plugin_form
{
    display: visible;
}

.maplespace_wordpress_plugin-settings-page-section-header
{
    font-weight: 400 !important;
    color: #1b1b1b;
    text-shadow: 1px 0px 0px #000;
    width:100%;
}

#maplespace_wordpress_plugin-google
{
    color:#EA4335;
}

#maplespace_wordpress_plugin-google-calendar
{
    color:	#4285F4;
}

#maplespace_wordpress_plugin-trello
{
    color: #0065ff;
}

.maplespace_wordpress_plugin-settings-page-section-subheader
{
    position:relative;
    color: #313539;
}

.maplespace_wordpress_plugin-settings-page-section-apikey, .maplespace_wordpress_plugin-settings-page-section-trello-secret
{
    
    -webkit-user-select: text; /* Safari */        
    -moz-user-select: text; /* Firefox */
    -ms-user-select: text; /* IE10+/Edge */
    user-select: text; /* Standard */
    overflow:scroll;
}

.maplespace_wordpress_plugin-settings-page-section-trello-secret
{
    font-size: 0.70em !important;
}

.maplespace_wordpress_plugin-new-apikey-label
{
    font-weight: 500 !important;
}

.maplespace_wordpress_plugin-button
{
    background-color: #002060 !important;
    text-shadow: 1px 1px 1px #002060 !important;
    color: white !important;
    border: 1px inset #103070 !important;
    border-radius: 50em !important;
    margin: 0.375rem;
    box-shadow: 1px 1px 1px gray, 0 0 5px black;
    width: auto;
    min-width:150px;
    max-width:150px;
    margin-top: 33px !important;
    margin-left: 0% !important;
}

.maplespace_wordpress_plugin-button:hover
{
    opacity: 0.85;
    text-shadow: 1px 1px 1px #002060 !important;
    border: 1px inset #4d4d4d !important;
    box-shadow: 1px 1px 0px gray, 0 0 2px black;
}

.maplespace_wordpress_plugin-warning
{
    color: #ff3300 !important;
    white-space: nowrap;
    font-size: 1.0em;
}

#maplespace_wordpress_plugin-instructions
{
    text-align: left !important;
}

.maplespace_wordpress_plugin-instructions-item
{
    font-weight: 500 !important;
}